@import "colors";
@import "functions";

h1 {
  padding-top: 3rem;
  font-size: 2.5rem;
  color: $primary-color;
}
p {
  color: $light-color;
  max-width: 440px;
  font-size: 18px;
  margin-top: 1rem;
}

main {
  background-color: $tertiary-color;
  .container {
    div {
      @include flex(row, center, baseline);
      address {
        font-size: 22px;
        color: $primary-color;
        font-style: normal;
        padding-top: 1rem;
        width: 50%;
      }
      .tel {
        width: 50%;
      }
      margin-bottom: 3rem;
    }
  }
  iframe {
    border: 0px;
    border-top: 80px solid $primary-color;
  }
}
