@charset "UTF-8";
/*========== ESTILIZAÇÃO DA BARRA DE SCROLL ==========*/
body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-track {
  background: #a4d65e;
}

body::-webkit-scrollbar-thumb {
  background-color: #3a4339;
  border-radius: 20px;
  border: 3px solid #a4d65e;
}

::-moz-selection {
  color: #fff;
  background: #558d08;
}

::selection {
  color: #fff;
  background: #558d08;
}

/*=========== RESET ==========*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1000px;
  margin-inline: auto;
}

body {
  background-color: #6e6259;
}

a {
  font-size: 1rem;
}

.hide-sm {
  display: none;
}

@media (min-width: 768px) {
  .hide-lg {
    display: none;
  }
  .hide-sm {
    display: block;
  }
}
.hamburger {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 20px;
  border: 0;
  position: relative;
  cursor: pointer;
  display: none;
}
.hamburger::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 15%;
  width: 70%;
  height: 10%;
  border-radius: 20px;
  background-color: #FFF;
  transition: 1s ease;
}
.hamburger::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 35%;
  width: 50%;
  height: 10%;
  border-radius: 20px;
  background-color: #FFF;
  transition: 1s ease;
}

#hamburger:checked ~ label .hamburger::after {
  transform: rotate(225deg);
  width: 70%;
  top: 45%;
  left: 15%;
}

#hamburger:checked ~ label .hamburger::before {
  transform: rotate(-225deg);
  width: 70%;
  top: 45%;
  left: 15%;
}

header {
  background-color: #6e6259;
  height: 80px;
  display: flex;
  position: sticky !important;
  top: 0;
  left: 0;
  align-items: center;
  z-index: 100;
}

.navbar {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 80%;
  height: -moz-max-content;
  height: max-content;
}
.navbar div {
  position: relative;
}

.linha-header {
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: #a4d65e;
  top: 0px;
}

.menu {
  list-style: none;
  display: flex;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.menu li {
  font-size: 24px;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu li a {
  color: #a4d65e;
  transition: 0.5s ease;
}
.menu li a:hover {
  color: #fff;
  text-decoration: underline;
}

.logo {
  height: 40px;
}
.logo img {
  height: 100%;
}

@media screen and (max-width: 980px) {
  header {
    height: 100px;
  }
  .linha-header {
    top: unset;
    bottom: 0px;
    height: 8px;
  }
  .hamburger {
    display: block;
    z-index: 999;
    height: 45px;
    width: 45px;
  }
  .menu {
    position: fixed !important;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    max-width: 250px;
    background-color: #232323;
    flex-direction: column;
    padding: 100px 20px;
    z-index: 998;
    transition: 1s ease;
    justify-content: center;
    gap: 5rem;
  }
  .menu.active {
    right: 0;
  }
}/*# sourceMappingURL=header.css.map */