@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "reset";
@import "colors";
@import "scroll";
@import "hamburger";
@import "functions";

.hero {
  background-color: $tertiary-color;

  .container {
    @include flex(column, center, center);

    p {
      background-color: $primary-color;
      color: $secondary-color;
      font-weight: 500;
      font-size: 1.1rem;
      padding: 0.75rem 1rem 2rem 1rem;
      border-radius: 0.5rem;
      max-width: 500px;
      align-self: flex-end;
      margin-top: -110px;
    }
  }
}

.carousel {
  .line {
    position: relative;
    top: -20px;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: $primary-color;
  }
  #slider {
    position: relative;
    overflow: hidden;
    margin-top: -100px;
    border-radius: 0.25rem;
    margin-bottom: 3rem;

    ul {
      position: relative;
      list-style: none;

      li {
        position: relative;
        @include flex(row, center, center);
        float: left;
        width: 1000px;
        text-align: center;

        .content {
          @include flex(row, center, center);
          max-width: 80%;
          text-align: left;

          img {
            border: 10px solid $primary-color;
            border-radius: 0.5rem;
            width: 350px;
          }

          .description {
            padding-left: 1rem;
            h2 {
              color: $secondary-color;
              font-weight: 600;
            }
            p {
              color: $light-color;
            }
          }
        }
      }
    }

    button.control_prev,
    button.control_next {
      position: absolute;
      top: 20%;
      z-index: 999;
      display: block;
      padding: 4% 3%;
      width: auto;
      height: auto;
      background: none;
      color: $primary-color;
      border: none;
      opacity: 0.8;
      cursor: pointer;

      &:hover {
        opacity: 1;
        transition: all 0.2s ease;
      }

      &.control_prev {
        border-radius: 0 2px 2px 0;
      }

      &.control_next {
        right: 0;
        border-radius: 2px 0 0 2px;
      }
    }

    .control_prev {
      transform: rotate(180deg);
    }
  }
}

.brands {
  background-color: $tertiary-color;
  padding: 2.5rem;
  h3 {
    color: $primary-color;
    font-weight: 400;
  }

  ul {
    @include flex(row, center, space-between);
    flex-wrap: wrap;
    padding: 1rem 0;
    li {
      color: $light-color;
    }
  }
}

footer {
  margin-top: 0;
}

@media (max-width: 768px) {
  .hero .container p {
    margin-top: -10px;
    align-self: auto;
  }

  .carousel {
    display: none;
  }

  .brands ul {
    justify-content: baseline;
    gap: 1rem;
  }
}
