@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "reset";
@import "colors";
@import "scroll";
@import "hamburger";
@import "functions";

.sm-txt {
  font-size: 14px;
}

.hero {
  background-color: $tertiary-color;

  .container {
    @include flex(column, center, center);

    h1 {
      font-size: 2.5rem;
      color: $primary-color;
      padding: 1rem 0;
      align-self: baseline;
    }

    p {
      background-color: $primary-color;
      color: $secondary-color;
      font-weight: 500;
      font-size: 1.1rem;
      padding: 0.75rem 1rem 2rem 1rem;
      border-radius: 0.5rem;
      max-width: 500px;
      align-self: flex-end;
      margin-top: -110px;
    }
  }
}

.carousel {
  .line {
    position: relative;
    top: -20px;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: $primary-color;
  }
  #slider {
    position: relative;
    overflow: hidden;
    margin-top: -100px;
    border-radius: 0.25rem;
    margin-bottom: 3rem;

    .carousel-big {
      // position: absolute;
      // list-style: none;

      li {
        position: relative;
        @include flex(row, center, center);
        float: left;
        width: 1000px;
        text-align: center;

        .content {
          @include flex(row, center, center);
          max-width: 80%;
          text-align: left;

          img {
            border: 10px solid $primary-color;
            border-radius: 0.5rem;
            width: 350px;
          }

          .description {
            padding-left: 1rem;
            h2 {
              padding: 1rem 0;
              color: $secondary-color;
              font-weight: 600;
            }
            p {
              color: $light-color;
            }
          }
        }
      }
    }

    button.control_prev,
    button.control_next {
      position: absolute;
      top: 20%;
      z-index: 999;
      display: block;
      padding: 4% 3%;
      width: auto;
      height: auto;
      background: none;
      color: $primary-color;
      border: none;
      opacity: 0.8;
      cursor: pointer;

      &:hover {
        opacity: 1;
        transition: all 0.2s ease;
      }

      &.control_prev {
        border-radius: 0 2px 2px 0;
      }

      &.control_next {
        right: 0;
        border-radius: 2px 0 0 2px;
      }
    }

    .control_prev {
      transform: rotate(180deg);
    }
  }
}

.mobile-slider {
  display: none;
}

.brands {
  background-color: $tertiary-color;
  padding: 2.5rem;
  h3 {
    color: $primary-color;
    font-weight: 400;
  }

  ul {
    @include flex(row, center, space-between);
    flex-wrap: wrap;
    padding: 1rem 0;
    li {
      color: $light-color;
      width: 90px;
    }
  }
}

footer {
  margin-top: 0;
}

@media (max-width: 1000px) {
  .hero .container {
    img {
      display: none;
    }
    h1 {
      padding-left: 2rem;
    }
    p {
      margin-top: -10px;
      align-self: auto;
      color: $light-color;
      background-color: $tertiary-color;
      padding: 1rem 2rem 8rem;
      font-weight: 400;
    }
  }
  .carousel {
    display: none;
  }

  .mobile-slider {
    display: block;
    padding: 2rem 0;
    margin-top: -125px;
    z-index: 10;
    .card-slider {
      display: flex;
      overflow-x: scroll;
      padding-inline: 2rem;
      .card {
        flex-shrink: 0;
        width: 300px;
        // height: 350px;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-right: 20px;
        .content {
          overflow: auto;
          .description {
            @include flex(column, center, center);
            h2 {
              margin-top: 1rem;
              font-size: 1.5rem;
              text-align: center;
              color: $secondary-color;
              font-weight: 500;
            }
            p {
              font-size: 1rem;
              padding: 0 1rem 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .brands {
    h3 {
      font-size: 16px;
    }
    ul {
      justify-content: flex-start;
      gap: 2rem;
      li {
        font-size: 14px;
      }
    }
  }
}
