@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import "reset";
@import "colors";
@import "scroll";
@import "hamburger";
@import "functions";

.strip {
  height: 80px;
  width: 100%;
  background-color: $primary-color;
  position: absolute;
  top: 250px;
  left: 0;
  z-index: -10;
}
h1,
h2 {
  font-size: 2.5rem;
  color: $primary-color;
}
h4 {
  color: $light-color;
  margin-bottom: 2rem;
}
p {
  color: $light-color;
  max-width: 440px;
  font-size: 18px;
  margin-top: 1rem;
}
.about-us {
  margin-top: 2rem;
  margin-bottom: 3rem;
  @include flex(row, center, center);
  gap: 4rem;

  .subtitle {
    color: $primary-color;
    margin-bottom: -1rem;
  }
}

.team {
  background-color: $tertiary-color;
  border-top: 5px solid $primary-color;
  border-bottom: 5px solid $primary-color;
  padding: 4rem 0;
  p {
    margin-top: 0;
  }
  img {
    padding: 3rem 0;
  }
  .description {
    @include flex(row, flex-start, center);
    gap: 2rem;
  }
}

.sustentability {
  padding-top: 3rem;
  .content {
    padding-top: 3rem;
    @include flex(row, flex-start, center);
    gap: 6rem;

    .left img {
      margin-bottom: 4rem;
    }
    .right img {
      margin-top: 8rem;
    }
  }
}

@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
    padding-inline: 1rem;
  }

  .team {
    @include flex(row, center, center);
    padding-inline: 1rem;
    .description {
      flex-direction: column;
    }
  }

  .sustentability {
    @include flex(column, center, center);
    padding-inline: 1rem;
    .content {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      .left img {
        margin-bottom: 0rem;
      }
      .right {
        @include flex(column-reverse, flex-start, center);
        img {
          margin-top: 0rem;
        }
      }
    }
  }
}
